[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/FilippSolovev/ClinicalTrialsWGETL/blob/notebooks/notebooks/phuse_source.ipynb)

# **Custom mapping for PHUSE dataset**

In [ ]:
#@title **This block of code will install PosgreSQL**
%%capture
!wget -qO- https://www.postgresql.org/media/keys/ACCC4CF8.asc | apt-key add -
!echo "deb http://apt.postgresql.org/pub/repos/apt/ bionic-pgdg main" >/etc/apt/sources.list.d/pgdg.list
!apt -qq update
!apt -yq install postgresql-12 postgresql-client-12
!service postgresql start
# make calling psql shorter
!sudo -u postgres psql -c "CREATE USER root WITH SUPERUSER"  
!psql postgres -c "CREATE DATABASE root"  # now just !psql -c "..."
# load SQL extensions
%load_ext sql
%config SqlMagic.feedback=False 
%config SqlMagic.autopandas=True
%sql postgresql+psycopg2://@/postgres

In [ ]:
#@title **Download the PHUSE data to local environment**

!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/ae.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/cm.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/dm.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/ds.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/ex.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/lbch.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/lbhe.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/lbur.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/mh.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/qsco.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/qsda.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/qsgi.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/qshi.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/qsmm.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/qsni.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/relrec.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/sc.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/se.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/suppae.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/suppdm.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/suppds.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/supplbch.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/supplbhe.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/supplbur.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/sv.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/ta.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/te.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/ti.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/ts.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/tv.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/vs.csv

#!mkdir source
!mv *.csv source/

In [ ]:
#@title **Check the files**
# !ls
#!rm -rf *.csv
!ls source

ae.csv	lbch.csv  qsda.csv  relrec.csv	suppds.csv    ta.csv  vs.csv
cm.csv	lbhe.csv  qsgi.csv  sc.csv	supplbch.csv  te.csv
dm.csv	lbur.csv  qshi.csv  se.csv	supplbhe.csv  ti.csv
ds.csv	mh.csv	  qsmm.csv  suppae.csv	supplbur.csv  ts.csv
ex.csv	qsco.csv  qsni.csv  suppdm.csv	sv.csv	      tv.csv

In [29]:
#@title **Create source tables**
%%sql
DROP SCHEMA IF EXISTS src CASCADE;

CREATE SCHEMA src;

-- DROP TABLE IF EXISTS src.ae;
CREATE TABLE src.ae
(
    studyid     VARCHAR(12),
    domain      VARCHAR(2),
    usubjid     VARCHAR(11),
    aeseq       NUMERIC,
    aespid      VARCHAR(3),
    aeterm      VARCHAR(200),
    aellt       VARCHAR(100),
    aelltcd     INTEGER,
    aedecod     VARCHAR(200),
    aeptcd      INTEGER,
    aehlt       VARCHAR(100),
    aehltcd     INTEGER,
    aehlgt      VARCHAR(100),
    aehlgtcd    INTEGER,
    aebodsys    VARCHAR(67),
    aebdsycd    INTEGER,
    aesoc       VARCHAR(100),
    aesoccd     INTEGER,
    aesev       VARCHAR(8),
    aeser       VARCHAR(1),
    aeacn       VARCHAR(30),
    aerel       VARCHAR(8),
    aeout       VARCHAR(200),
    aescan      VARCHAR(1),
    aescong     VARCHAR(1),
    aesdisab    VARCHAR(1),
    aesdth      VARCHAR(1),
    aeshosp     VARCHAR(1),
    aeslife     VARCHAR(1),
    aesod       VARCHAR(1),
    epoch       VARCHAR(9),
    aedtc       VARCHAR(10),
    aestdtc     VARCHAR(10),
    aeendtc     VARCHAR(10),
    aedy        INTEGER,
    aestdy      INTEGER,
    aeendy      INTEGER
);

COPY
    src.ae(
        studyid,
        domain,
        usubjid,
        aeseq,
        aespid,
        aeterm,
        aellt,
        aelltcd,
        aedecod,
        aeptcd,
        aehlt,
        aehltcd,
        aehlgt,
        aehlgtcd,
        aebodsys,
        aebdsycd,
        aesoc,
        aesoccd,
        aesev,
        aeser,
        aeacn,
        aerel,
        aeout,
        aescan,
        aescong,
        aesdisab,
        aesdth,
        aeshosp,
        aeslife,
        aesod,
        epoch,
        aedtc,
        aestdtc,
        aeendtc,
        aedy,
        aestdy,
        aeendy
        )
FROM '/content/source/ae.csv' DELIMITER ',' CSV HEADER;

CREATE TABLE src.cm
(
    studyid		VARCHAR(12),
	domain		VARCHAR(2),
	usubjid		VARCHAR(11),
	cmseq		NUMERIC,
	cmspid		VARCHAR(2),
	cmtrt		VARCHAR(44),
	cmdecod		VARCHAR(24),
	cmindc		VARCHAR(34),
	cmclas		VARCHAR(42),
	cmdose		NUMERIC,
	cmdosu		VARCHAR(17),
	cmdosfrq	VARCHAR(15),
	cmroute		VARCHAR(200),
	visitnum	NUMERIC,
	visit		VARCHAR(19),
	visitdy		INTEGER,
	epoch		VARCHAR(9),
	cmdtc		VARCHAR(10),  -- for incomplete dates
	cmstdtc		VARCHAR(10),  -- for incomplete dates
	cmendtc		VARCHAR(10),  -- for incomplete dates
	cmdy		INTEGER,
	cmstdy		INTEGER,
	cmendy	    INTEGER
);

COPY
    src.cm(
        studyid,
    	domain,
    	usubjid,
    	cmseq,
    	cmspid,
    	cmtrt,
    	cmdecod,
    	cmindc,
    	cmclas,
    	cmdose,
    	cmdosu,
    	cmdosfrq,
    	cmroute,
    	visitnum,
    	visit,
    	visitdy,
    	epoch,
    	cmdtc,
    	cmstdtc,
    	cmendtc,
    	cmdy,
    	cmstdy,
    	cmendy
    )
FROM '/content/source/cm.csv' DELIMITER ',' CSV HEADER; 

CREATE TABLE src.ta
(
    studyid     VARCHAR(12), -- PRIMARY KEY
    domain      VARCHAR(2), -- or use TEXT?
    armcd       VARCHAR(8),
    arm         VARCHAR(20),
    taetord     INTEGER,
    etcd        VARCHAR(200),
    element     VARCHAR(200),
    tabranch    VARCHAR(200),
    tatrans     VARCHAR(200),
    epoch       VARCHAR(200)
);

COPY
    src.ta(studyid, domain, armcd, arm, taetord, etcd, element, tabranch, tatrans, epoch)
FROM '/content/source/ta.csv' DELIMITER ',' CSV HEADER;

 * postgresql+psycopg2://@/postgres

Empty DataFrame
Columns: []
Index: []

In [31]:
%%sql

SELECT usubjid, aeterm, aellt, aestdtc, aeendtc
FROM src.ae
LIMIT 5;

 * postgresql+psycopg2://@/postgres

       usubjid                                aeterm  ...     aestdtc     aeendtc
0  01-701-1015             APPLICATION SITE ERYTHEMA  ...  2014-01-03
1  01-701-1015             APPLICATION SITE PRURITUS  ...  2014-01-03
2  01-701-1015                             DIARRHOEA  ...  2014-01-09  2014-01-11
3  01-701-1023  ATRIOVENTRICULAR BLOCK SECOND DEGREE  ...  2012-08-26
4  01-701-1023                              ERYTHEMA  ...  2012-08-07

[5 rows x 5 columns]

In [34]:
%%sql

SELECT usubjid, cmtrt, cmdose, cmdosu, cmdosfrq, cmroute, cmstdtc, cmendtc
FROM src.cm
LIMIT 5;

 * postgresql+psycopg2://@/postgres

       usubjid     cmtrt cmdose  cmdosu cmdosfrq cmroute cmstdtc cmendtc
0  01-701-1015   ASPIRIN      1  TABLET      PRN    ORAL    2003
1  01-701-1015   TYLENOL      1  TABLET      PRN    ORAL    2003
2  01-701-1015  PREMARIN  0.625      mg       QD    ORAL    2006
3  01-701-1015   CALCIUM      1  TABLET       QD    ORAL    2013
4  01-701-1015   ASPIRIN      1  TABLET      PRN    ORAL    2003