<a href="https://colab.research.google.com/github/OHDSI/ClinicalTrialsWGETL/blob/master/notebooks/phuse_source.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **PHUSE dataset**

In [ ]:
#@title **This block of code will install PosgreSQL**
%%capture
!wget -qO- https://www.postgresql.org/media/keys/ACCC4CF8.asc | apt-key add -
!echo "deb http://apt.postgresql.org/pub/repos/apt/ bionic-pgdg main" >/etc/apt/sources.list.d/pgdg.list
!apt -qq update
!apt -yq install postgresql-12 postgresql-client-12
!service postgresql start
# make calling psql shorter
!sudo -u postgres psql -c "CREATE USER root WITH SUPERUSER"  
!psql postgres -c "CREATE DATABASE root"  # now just !psql -c "..."
# load SQL extensions
%load_ext sql
%config SqlMagic.feedback=False 
%config SqlMagic.autopandas=True
%sql postgresql+psycopg2://@/postgres

In [ ]:
#@title **Download the PHUSE data to local environment**

!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/ae.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/cm.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/dm.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/ds.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/ex.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/lbch.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/lbhe.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/lbur.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/mh.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/qsco.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/qsda.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/qsgi.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/qshi.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/qsmm.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/qsni.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/relrec.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/sc.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/se.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/suppae.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/suppdm.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/suppds.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/supplbch.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/supplbhe.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/supplbur.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/sv.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/ta.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/te.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/ti.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/ts.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/tv.csv
!wget -q https://raw.githubusercontent.com/OHDSI/ClinicalTrialsWGETL/master/data/source/csv/vs.csv

!mkdir -p source
!mv *.csv source/

In [ ]:
#@title **Check the files**
!ls source

ae.csv	lbch.csv  qsda.csv  relrec.csv	suppds.csv    ta.csv  vs.csv
cm.csv	lbhe.csv  qsgi.csv  sc.csv	supplbch.csv  te.csv
dm.csv	lbur.csv  qshi.csv  se.csv	supplbhe.csv  ti.csv
ds.csv	mh.csv	  qsmm.csv  suppae.csv	supplbur.csv  ts.csv
ex.csv	qsco.csv  qsni.csv  suppdm.csv	sv.csv	      tv.csv

In [ ]:
#@title **Create source tables**
%%sql
DROP SCHEMA IF EXISTS src CASCADE;

CREATE SCHEMA src;

-- DROP TABLE IF EXISTS src.ae;
CREATE TABLE src.ae
(
    studyid     VARCHAR(12),
    domain      VARCHAR(2),
    usubjid     VARCHAR(11),
    aeseq       NUMERIC,
    aespid      VARCHAR(3),
    aeterm      VARCHAR(200),
    aellt       VARCHAR(100),
    aelltcd     INTEGER,
    aedecod     VARCHAR(200),
    aeptcd      INTEGER,
    aehlt       VARCHAR(100),
    aehltcd     INTEGER,
    aehlgt      VARCHAR(100),
    aehlgtcd    INTEGER,
    aebodsys    VARCHAR(67),
    aebdsycd    INTEGER,
    aesoc       VARCHAR(100),
    aesoccd     INTEGER,
    aesev       VARCHAR(8),
    aeser       VARCHAR(1),
    aeacn       VARCHAR(30),
    aerel       VARCHAR(8),
    aeout       VARCHAR(200),
    aescan      VARCHAR(1),
    aescong     VARCHAR(1),
    aesdisab    VARCHAR(1),
    aesdth      VARCHAR(1),
    aeshosp     VARCHAR(1),
    aeslife     VARCHAR(1),
    aesod       VARCHAR(1),
    epoch       VARCHAR(9),
    aedtc       VARCHAR(10),
    aestdtc     VARCHAR(10),
    aeendtc     VARCHAR(10),
    aedy        INTEGER,
    aestdy      INTEGER,
    aeendy      INTEGER
);

COPY
    src.ae(
        studyid,
        domain,
        usubjid,
        aeseq,
        aespid,
        aeterm,
        aellt,
        aelltcd,
        aedecod,
        aeptcd,
        aehlt,
        aehltcd,
        aehlgt,
        aehlgtcd,
        aebodsys,
        aebdsycd,
        aesoc,
        aesoccd,
        aesev,
        aeser,
        aeacn,
        aerel,
        aeout,
        aescan,
        aescong,
        aesdisab,
        aesdth,
        aeshosp,
        aeslife,
        aesod,
        epoch,
        aedtc,
        aestdtc,
        aeendtc,
        aedy,
        aestdy,
        aeendy
        )
FROM '/content/source/ae.csv' DELIMITER ',' CSV HEADER;


-- DROP TABLE IF EXISTS src.cm;
CREATE TABLE src.cm
(
    studyid		VARCHAR(12),
	domain		VARCHAR(2),
	usubjid		VARCHAR(11),
	cmseq		NUMERIC,
	cmspid		VARCHAR(2),
	cmtrt		VARCHAR(44),
	cmdecod		VARCHAR(24),
	cmindc		VARCHAR(34),
	cmclas		VARCHAR(42),
	cmdose		NUMERIC,
	cmdosu		VARCHAR(17),
	cmdosfrq	VARCHAR(15),
	cmroute		VARCHAR(200),
	visitnum	NUMERIC,
	visit		VARCHAR(19),
	visitdy		INTEGER,
	epoch		VARCHAR(9),
	cmdtc		VARCHAR(10),  -- for incomplete dates
	cmstdtc		VARCHAR(10),  -- for incomplete dates
	cmendtc		VARCHAR(10),  -- for incomplete dates
	cmdy		INTEGER,
	cmstdy		INTEGER,
	cmendy	    INTEGER
);

COPY
    src.cm(
        studyid,
    	domain,
    	usubjid,
    	cmseq,
    	cmspid,
    	cmtrt,
    	cmdecod,
    	cmindc,
    	cmclas,
    	cmdose,
    	cmdosu,
    	cmdosfrq,
    	cmroute,
    	visitnum,
    	visit,
    	visitdy,
    	epoch,
    	cmdtc,
    	cmstdtc,
    	cmendtc,
    	cmdy,
    	cmstdy,
    	cmendy
    )
FROM '/content/source/cm.csv' DELIMITER ',' CSV HEADER; 


-- DROP TABLE IF EXISTS src.dm;
CREATE TABLE src.dm
(
	studyid		VARCHAR(12),
	domain		VARCHAR(2),
	usubjid		VARCHAR(11),
	subjid		VARCHAR(4),
	rfstdtc		VARCHAR(10),  -- instead of DATE for possible incomplete dates
	rfendtc		VARCHAR(10),  -- instead of DATE for possible incomplete dates
	rfxstdtc	VARCHAR(20),  -- instead of TIMESTAMP for possible incomplete dates
	rfxendtc	VARCHAR(20),  -- instead of TIMESTAMP for possible incomplete dates
	rficdtc		VARCHAR(20),  -- instead of TIMESTAMP for possible incomplete dates
	rfpendtc	VARCHAR(20),  -- instead of TIMESTAMP for possible incomplete dates
	dthdtc		VARCHAR(20),  -- instead of TIMESTAMP for possible incomplete dates
	dthfl		VARCHAR(1),
	siteid		VARCHAR(3),
	age			INTEGER,
	ageu		VARCHAR(6),
	sex			VARCHAR(1),
	race		VARCHAR(78),
	ethnic		VARCHAR(25),
	armcd		VARCHAR(8),
	arm			VARCHAR(20),
	actarmcd	VARCHAR(8),
	actarm		VARCHAR(20),
	country		VARCHAR(3),
	dmdtc		VARCHAR(10),  -- instead of DATE for possible incomplete dates
	dmdy		INTEGER
);

COPY
    src.dm(
        studyid,
    	domain,
    	usubjid,
    	subjid,
    	rfstdtc,
    	rfendtc,
    	rfxstdtc,
    	rfxendtc,
    	rficdtc,
    	rfpendtc,
    	dthdtc,
    	dthfl,
    	siteid,
    	age,
    	ageu,
    	sex,
    	race,
    	ethnic,
    	armcd,
    	arm,
    	actarmcd,
    	actarm,
    	country,
    	dmdtc,
    	dmdy
    )
FROM '/content/source/dm.csv' DELIMITER ',' CSV HEADER;


-- DROP TABLE IF EXISTS src.ds;
CREATE TABLE src.ds
(
	studyid		VARCHAR(12),
	domain		VARCHAR(2),
	usubjid		VARCHAR(11),
	dsseq		NUMERIC,
	dsspid		VARCHAR(2),
	dsterm		VARCHAR(63),
	dsdecod		VARCHAR(63),
	dscat		VARCHAR(17),
	visitnum	NUMERIC,
	visit		VARCHAR(17),
	epoch		VARCHAR(9),
	dsdtc		VARCHAR(20),  -- instead of TIMESTAMP for possible incomplete dates
	dsstdtc		VARCHAR(10),  -- instead of DATE for possible incomplete dates
	dsdy		INTEGER,
	dsstdy		INTEGER
);

COPY
    src.ds(
        studyid,
    	domain,
    	usubjid,
    	dsseq,
    	dsspid,
    	dsterm,
    	dsdecod,
    	dscat,
    	visitnum,
    	visit,
    	epoch,
    	dsdtc,
    	dsstdtc,
    	dsdy,
    	dsstdy
    )
FROM '/content/source/ds.csv' DELIMITER ',' CSV HEADER;


-- DROP TABLE IF EXISTS src.ex;
CREATE TABLE src.ex (
	studyid		VARCHAR(12),
	domain		VARCHAR(2),
	usubjid		VARCHAR(11),
	exseq		NUMERIC,  -- in define it's INTEGER
	extrt		VARCHAR(10),
	exdose		NUMERIC,  -- in define it's INTEGER
	exdosu		VARCHAR(2),
	exdosfrm	VARCHAR(5),
	exdosfrq	VARCHAR(2),
	exroute		VARCHAR(11),
	visitnum	NUMERIC,
	visit		VARCHAR(19),
	visitdy		INTEGER,
	epoch		VARCHAR(9),
	exstdtc		VARCHAR(10),  -- instead of DATE for possible incomplete dates
	exendtc		VARCHAR(10),  -- instead of DATE for possible incomplete dates
	exstdy		INTEGER,
	exendy		INTEGER
);

COPY
    src.ex(
        studyid,
    	domain,
    	usubjid,
    	exseq,
    	extrt,
    	exdose,
    	exdosu,
    	exdosfrm,
    	exdosfrq,
    	exroute,
    	visitnum,
    	visit,
    	visitdy,
    	epoch,
    	exstdtc,
    	exendtc,
    	exstdy,
    	exendy
    )
FROM '/content/source/ex.csv' DELIMITER ',' CSV HEADER;


-- DROP TABLE IF EXISTS src.lbch;
CREATE TABLE src.lbch
(
	studyid		VARCHAR(12),
	domain		VARCHAR(2),
	usubjid		VARCHAR(11),
	lbseq		INTEGER,  -- in define it's INTEGER
	lbtestcd	VARCHAR(7),
	lbtest		VARCHAR(200),
	lbcat		VARCHAR(10),
	lborres		VARCHAR(5),
	lborresu	VARCHAR(8),
	lbornrlo	VARCHAR(5),  -- in defite it's text with lenght 5
	lbornrhi	VARCHAR(7),
	lbstresc	VARCHAR(8),
	lbstresn	NUMERIC,  -- in define it's INTEGER
	lbstresu	VARCHAR(8),
	lbstnrlo	NUMERIC,  -- in define it's INTEGER
	lbstnrhi	NUMERIC,  -- in define it's INTEGER
	lbnrind		VARCHAR(200),
	lbblfl		VARCHAR(1),
	visitnum	NUMERIC,
	visit		VARCHAR(19),
	visitdy		INTEGER,
	epoch		VARCHAR(9),
	lbdtc		VARCHAR(16),  -- instead of TIMESTAMP for possible incomplete dates
	lbdy		INTEGER
);

COPY
    src.lbch(
        studyid,
    	domain,
    	usubjid,
    	lbseq,
    	lbtestcd,
    	lbtest,
    	lbcat,
    	lborres,
    	lborresu,
    	lbornrlo,
    	lbornrhi,
    	lbstresc,
    	lbstresn,
    	lbstresu,
    	lbstnrlo,
    	lbstnrhi,
    	lbnrind,
    	lbblfl,
    	visitnum,
    	visit,
    	visitdy,
    	epoch,
    	lbdtc,
    	lbdy
    )
FROM '/content/source/lbch.csv' DELIMITER ',' CSV HEADER;


-- DROP TABLE IF EXISTS src.lbhe;
CREATE TABLE src.lbhe
(
	studyid		VARCHAR(12),
	domain		VARCHAR(2),
	usubjid		VARCHAR(11),
	lbseq		INTEGER,  -- in define it's INTEGER
	lbtestcd	VARCHAR(7),
	lbtest		VARCHAR(200),
	lbcat		VARCHAR(10),
	lborres		VARCHAR(5),
	lborresu	VARCHAR(8),
	lbornrlo	VARCHAR(5),
	lbornrhi	VARCHAR(7),
	lbstresc	VARCHAR(8),
	lbstresn	NUMERIC,  -- in define it's INTEGER
	lbstresu	VARCHAR(8),
	lbstnrlo	NUMERIC,  -- in define it's INTEGER
	lbstnrhi	NUMERIC,  -- in define it's INTEGER
	lbnrind		VARCHAR(200),
	lbblfl		VARCHAR(1),
	visitnum	NUMERIC,
	visit		VARCHAR(19),
	visitdy		INTEGER,
	epoch		VARCHAR(9),
	lbdtc		VARCHAR(16),  -- instead of TIMESTAMP for possible incomplete dates
	lbdy		INTEGER
);

COPY
    src.lbhe
    (
        studyid,
    	domain,
    	usubjid,
    	lbseq,
    	lbtestcd,
    	lbtest,
    	lbcat,
    	lborres,
    	lborresu,
    	lbornrlo,
    	lbornrhi,
    	lbstresc,
    	lbstresn,
    	lbstresu,
    	lbstnrlo,
    	lbstnrhi,
    	lbnrind,
    	lbblfl,
    	visitnum,
    	visit,
    	visitdy,
    	epoch,
    	lbdtc,
    	lbdy
    )
FROM '/content/source/lbhe.csv' DELIMITER ',' CSV HEADER;


-- DROP TABLE IF EXISTS src.lbur;
CREATE TABLE src.lbur
(
	studyid		VARCHAR(12),
	domain		VARCHAR(2),
	usubjid		VARCHAR(11),
	lbseq		NUMERIC,  -- in define it's INTEGER
	lbtestcd	VARCHAR(7),
	lbtest		VARCHAR(200),
	lbcat		VARCHAR(10),
	lborres		VARCHAR(5),
	lborresu	VARCHAR(8),
	lbornrlo	VARCHAR(5),
	lbornrhi	VARCHAR(7),
	lbstresc	VARCHAR(8),
	lbstresn	NUMERIC,  -- in define it's INTEGER
	lbstresu	VARCHAR(8),
	lbstnrlo	NUMERIC,  -- in define it's INTEGER
	lbstnrhi	NUMERIC,  -- in define it's INTEGER
	lbnrind		VARCHAR(200),
	lbblfl		VARCHAR(1),
	visitnum	NUMERIC,
	visit		VARCHAR(19),
	visitdy		INTEGER,
	epoch		VARCHAR(9),
	lbdtc		VARCHAR(16),  -- instead of TIMESTAMP for possible incomplete dates
	lbdy		INTEGER
);

COPY
    src.lbur
    (
        studyid,
    	domain,
    	usubjid,
    	lbseq,
    	lbtestcd,
    	lbtest,
    	lbcat,
    	lborres,
    	lborresu,
    	lbornrlo,
    	lbornrhi,
    	lbstresc,
    	lbstresn,
    	lbstresu,
    	lbstnrlo,
    	lbstnrhi,
    	lbnrind,
    	lbblfl,
    	visitnum,
    	visit,
    	visitdy,
    	epoch,
    	lbdtc,
    	lbdy
    )
FROM '/content/source/lbur.csv' DELIMITER ',' CSV HEADER;


-- DROP TABLE IF EXISTS src.mh;
CREATE TABLE src.mh
(
	studyid		VARCHAR(12),
	domain		VARCHAR(2),
	usubjid		VARCHAR(11),
	mhseq		NUMERIC,  -- in define it's INTEGER
	mhspid		VARCHAR(3),
	mhterm		VARCHAR(19),
	mhllt		VARCHAR(200),
	mhdecod		VARCHAR(44),
	mhhlt		VARCHAR(200),
	mhhlgt		VARCHAR(200),
	mhcat		VARCHAR(34),
	mhbodsys	VARCHAR(67),
	mhsev		VARCHAR(8),
	visitnum	NUMERIC,
	visit		VARCHAR(19),
	visitdy		INTEGER,
	mhdtc		VARCHAR(10),  -- instead of DATE for possible incomplete dates
	mhstdtc		VARCHAR(10),  -- instead of DATE for possible incomplete dates
	mhdy		INTEGER
);

COPY
    src.mh
    (
        studyid,
    	domain,
    	usubjid,
    	mhseq,
    	mhspid,
    	mhterm,
    	mhllt,
    	mhdecod,
    	mhhlt,
    	mhhlgt,
    	mhcat,
    	mhbodsys,
    	mhsev,
    	visitnum,
    	visit,
    	visitdy,
    	mhdtc,
    	mhstdtc,
    	mhdy
    )
FROM '/content/source/mh.csv' DELIMITER ',' CSV HEADER;


-- DROP TABLE IF EXISTS src.qsco;
CREATE TABLE src.qsco
(
	studyid		VARCHAR(12),
	domain		VARCHAR(2),
	usubjid		VARCHAR(11),
	qsseq		NUMERIC,  -- in define it's INTEGER
	qstestcd	VARCHAR(8),
	qstest		VARCHAR(40),
	qscat		VARCHAR(70),
	qsscat		VARCHAR(26),
	qsorres		VARCHAR(20),
	qsorresu	VARCHAR(7),
	qsstresc	VARCHAR(4),
	qsstresn	NUMERIC,  -- in define it's INTEGER
	qsstresu	VARCHAR(7),
	qsstat		VARCHAR(8),
	qsreasnd	VARCHAR(17),
	qsblfl		VARCHAR(1),
	qsdrvfl		VARCHAR(1),
	visitnum	NUMERIC,
	visit		VARCHAR(19),
	visitdy		INTEGER,
	epoch		VARCHAR(9),
	qsdtc		VARCHAR(10),  -- instead of DATE for possible incomplete dates
	qsdy		INTEGER
);

COPY
    src.qsco
    (
        studyid,
    	domain,
    	usubjid,
    	qsseq,
    	qstestcd,
    	qstest,
    	qscat,
    	qsscat,
    	qsorres,
    	qsorresu,
    	qsstresc,
    	qsstresn,
    	qsstresu,
    	qsstat,
    	qsreasnd,
    	qsblfl,
    	qsdrvfl,
    	visitnum,
    	visit,
    	visitdy,
    	epoch,
    	qsdtc,
    	qsdy
    )
FROM '/content/source/qsco.csv' DELIMITER ',' CSV HEADER;


-- DROP TABLE IF EXISTS src.qsda;
CREATE TABLE src.qsda
(
    studyid		VARCHAR(12),
    domain		VARCHAR(2),
    usubjid		VARCHAR(11),
    qsseq		NUMERIC,-- in define it's INTEGER
    qstestcd	VARCHAR(8),
    qstest		VARCHAR(40),
    qscat		VARCHAR(70),
    qsscat		VARCHAR(26),
    qsorres		VARCHAR(20),
    qsorresu	VARCHAR(7),
    qsstresc	VARCHAR(4),
    qsstresn	NUMERIC,  -- in define it's INTEGER
    qsstresu	VARCHAR(7),
    qsstat		VARCHAR(8),
    qsreasnd	VARCHAR(17),
    qsblfl		VARCHAR(1),
    qsdrvfl		VARCHAR(1),
    visitnum	NUMERIC,
    visit		VARCHAR(19),
    visitdy		INTEGER,
    epoch		VARCHAR(9),
    qsdtc		VARCHAR(10),  -- instead of DATE for possible incomplete dates
    qsdy		INTEGER
);

COPY
    src.qsda
    (
        studyid,
        domain,
        usubjid,
        qsseq,
        qstestcd,
        qstest,
        qscat,
        qsscat,
        qsorres,
        qsorresu,
        qsstresc,
        qsstresn,
        qsstresu,
        qsstat,
        qsreasnd,
        qsblfl,
        qsdrvfl,
        visitnum,
        visit,
        visitdy,
        epoch,
        qsdtc,
        qsdy
    )
FROM '/content/source/qsda.csv' DELIMITER ',' CSV HEADER;


-- DROP TABLE IF EXISTS src.qsgi;
CREATE TABLE src.qsgi
(
	studyid		VARCHAR(12),
	domain		VARCHAR(2),
	usubjid		VARCHAR(11),
	qsseq		NUMERIC,  -- in define it's INTEGER
	qstestcd	VARCHAR(8),
	qstest		VARCHAR(40),
	qscat		VARCHAR(70),
	qsscat		VARCHAR(70),
	qsorres		VARCHAR(20),
	qsorresu	VARCHAR(7),
	qsstresc	VARCHAR(4),
	qsstresn	NUMERIC,  -- in define it's INTEGER
	qsstresu	VARCHAR(7),
	qsstat		VARCHAR(8),
	qsreasnd	VARCHAR(17),
	qsblfl		VARCHAR(1),
	qsdrvfl		VARCHAR(1),
	visitnum	NUMERIC,
	visit		VARCHAR(19),
	visitdy		INTEGER,
	epoch		VARCHAR(9),
	qsdtc		VARCHAR(10),  -- instead of DATE for possible incomplete dates
	qsdy		INTEGER
);

COPY
    src.qsgi
    (
        studyid,
    	domain,
    	usubjid,
    	qsseq,
    	qstestcd,
    	qstest,
    	qscat,
    	qsscat,
    	qsorres,
    	qsorresu,
    	qsstresc,
    	qsstresn,
    	qsstresu,
    	qsstat,
    	qsreasnd,
    	qsblfl,
    	qsdrvfl,
    	visitnum,
    	visit,
    	visitdy,
    	epoch,
    	qsdtc,
    	qsdy
    )
FROM '/content/source/qsgi.csv' DELIMITER ',' CSV HEADER;


-- DROP TABLE IF EXISTS src.qshi;
CREATE TABLE src.qshi
(
    studyid     VARCHAR(12),
    domain		VARCHAR(2),
    usubjid		VARCHAR(11),
    qsseq		NUMERIC,-- in define it's INTEGER
    qstestcd	VARCHAR(8),
    qstest		VARCHAR(40),
    qscat   	VARCHAR(70),
    qsscat		VARCHAR(26),
    qsorres		VARCHAR(20),
    qsorresu	VARCHAR(7),
    qsstresc	VARCHAR(4),
    qsstresn	NUMERIC,-- in define it's INTEGER
    qsstresu	VARCHAR(7),
    qsstat		VARCHAR(8),
    qsreasnd	VARCHAR(17),
    qsblfl		VARCHAR(1),
    qsdrvfl		VARCHAR(1),
    visitnum	NUMERIC,
    visit		VARCHAR(19),
    visitdy		INTEGER,
    epoch		VARCHAR(9),
    qsdtc       VARCHAR(10),-- instead of DATE for possible incomplete dates
    qsdy        INTEGER
);

COPY
    src.qshi
    (
        studyid,
        domain,
        usubjid,
        qsseq,
        qstestcd,
        qstest,
        qscat,
        qsscat,
        qsorres,
        qsorresu,
        qsstresc,
        qsstresn,
        qsstresu,
        qsstat,
        qsreasnd,
        qsblfl,
        qsdrvfl,
        visitnum,
        visit,
        visitdy,
        epoch,
        qsdtc,
        qsdy
    )
FROM '/content/source/qshi.csv' DELIMITER ',' CSV HEADER;


-- DROP TABLE IF EXISTS src.qsmm;
CREATE TABLE src.qsmm
(
	studyid		VARCHAR(12),
	domain		VARCHAR(2),
	usubjid		VARCHAR(11),
	qsseq		NUMERIC,-- in define it's INTEGER
	qstestcd	VARCHAR(8),
	qstest		VARCHAR(40),
	qscat		VARCHAR(70),
	qsscat		VARCHAR(26),
	qsorres		VARCHAR(20),
	qsorresu	VARCHAR(7),
	qsstresc	VARCHAR(4),
	qsstresn	NUMERIC,-- in define it's INTEGER
	qsstresu	VARCHAR(7),
	qsstat		VARCHAR(8),
	qsreasnd	VARCHAR(17),
	qsblfl		VARCHAR(1),
	qsdrvfl		VARCHAR(1),
	visitnum	NUMERIC,
	visit		VARCHAR(19),
	visitdy		INTEGER,
	epoch		VARCHAR(9),
	qsdtc		VARCHAR(10),-- instead of DATE for possible incomplete dates
	qsdy		INTEGER
);

COPY
    src.qsmm
    (
        studyid,
    	domain,
    	usubjid,
    	qsseq,
    	qstestcd,
    	qstest,
    	qscat,
    	qsscat,
    	qsorres,
    	qsorresu,
    	qsstresc,
    	qsstresn,
    	qsstresu,
    	qsstat,
    	qsreasnd,
    	qsblfl,
    	qsdrvfl,
    	visitnum,
    	visit,
    	visitdy,
    	epoch,
    	qsdtc,
    	qsdy
    )
FROM '/content/source/qsmm.csv' DELIMITER ',' CSV HEADER;


-- DROP TABLE IF EXISTS src.qsni;
CREATE TABLE src.qsni
(
	studyid		VARCHAR(12),
	domain		VARCHAR(2),
	usubjid		VARCHAR(11),
	qsseq		NUMERIC,-- in define it's INTEGER
	qstestcd	VARCHAR(8),
	qstest		VARCHAR(40),
	qscat		VARCHAR(70),
	qsscat		VARCHAR(26),
	qsorres		VARCHAR(20),
	qsorresu	VARCHAR(7),
	qsstresc	VARCHAR(4),
	qsstresn	NUMERIC,-- in define it's INTEGER
	qsstresu	VARCHAR(7),
	qsstat		VARCHAR(8),
	qsreasnd	VARCHAR(17),
	qsblfl		VARCHAR(1),
	qsdrvfl		VARCHAR(1),
	visitnum	NUMERIC,
	visit		VARCHAR(19),
	visitdy		INTEGER,
	epoch		VARCHAR(9),
	qsdtc		VARCHAR(10),-- instead of DATE for possible incomplete dates
	qsdy		INTEGER
);

COPY
    src.qsni
    (
        studyid,
    	domain,
    	usubjid,
    	qsseq,
    	qstestcd,
    	qstest,
    	qscat,
    	qsscat,
    	qsorres,
    	qsorresu,
    	qsstresc,
    	qsstresn,
    	qsstresu,
    	qsstat,
    	qsreasnd,
    	qsblfl,
    	qsdrvfl,
    	visitnum,
    	visit,
    	visitdy,
    	epoch,
    	qsdtc,
    	qsdy
    )
FROM '/content/source/qsni.csv' DELIMITER ',' CSV HEADER;


-- DROP TABLE IF EXISTS src.relrec;
CREATE TABLE src.relrec
(
	studyid		VARCHAR(12),
	rdomain		VARCHAR(2),
	usubjid		VARCHAR(11),
	idvar		VARCHAR(8),
	idvarval	VARCHAR(200),
	reltype		VARCHAR(30),
	relid		VARCHAR(200)
);

COPY
    src.relrec
    (
        studyid,
    	rdomain,
    	usubjid,
    	idvar,
    	idvarval,
    	reltype,
    	relid
    )
FROM '/content/source/relrec.csv' DELIMITER ',' CSV HEADER;


-- DROP TABLE IF EXISTS src.sc;
CREATE TABLE src.sc
(
	studyid		VARCHAR(12),
	domain		VARCHAR(2),
	usubjid		VARCHAR(11),
	scseq		NUMERIC,-- in define it's INTEGER
	sctestcd	VARCHAR(8),
	sctest		VARCHAR(27),
	sccat		VARCHAR(9),
	scorres		VARCHAR(2),
	scorresu	VARCHAR(5),
	scstresc	VARCHAR(2),
	scstresn	NUMERIC,-- in define it's INTEGER
	scstresu	VARCHAR(5),
	scdtc		VARCHAR(10),-- instead of DATE for possible incomplete dates
	scdy		INTEGER
);

COPY
    src.sc
    (
        studyid,
    	domain,
    	usubjid,
    	scseq,
    	sctestcd,
    	sctest,
    	sccat,
    	scorres,
    	scorresu,
    	scstresc,
    	scstresn,
    	scstresu,
    	scdtc,
    	scdy
    )
FROM '/content/source/sc.csv' DELIMITER ',' CSV HEADER;


-- DROP TABLE IF EXISTS src.se;
CREATE TABLE src.se
(
	studyid		VARCHAR(12),
	domain		VARCHAR(2),
	usubjid		VARCHAR(11),
	seseq		NUMERIC,  -- in define it's INTEGER
	etcd		VARCHAR(200),
	element		VARCHAR(200),
	seupdes		VARCHAR(200),
	epoch		VARCHAR(9),
	sestdtc		VARCHAR(10),  -- instead of DATE for possible incomplete dates
	seendtc		VARCHAR(10),  -- instead of DATE for possible incomplete dates
	sestdy		INTEGER,
	seendy		INTEGER
);

COPY
    src.se
    (
        studyid,
    	domain,
    	usubjid,
    	seseq,
    	etcd,
    	element,
    	seupdes,
    	epoch,
    	sestdtc,
    	seendtc,
    	sestdy,
    	seendy
    )
FROM '/content/source/se.csv' DELIMITER ',' CSV HEADER;


-- DROP TABLE IF EXISTS src.suppae;
CREATE TABLE src.suppae
(
	studyid		VARCHAR(12),
	rdomain		VARCHAR(2),
	usubjid		VARCHAR(11),
	idvar		VARCHAR(8),
	idvarval	VARCHAR(200),
	qnam		VARCHAR(8),
	qlabel		VARCHAR(40),
	qval		VARCHAR(200),
	qorig		VARCHAR(200),
	qeval		VARCHAR(200)
);

COPY
    src.suppae
    (
        studyid,
    	rdomain,
    	usubjid,
    	idvar,
    	idvarval,
    	qnam,
    	qlabel,
    	qval,
    	qorig,
    	qeval
    )
FROM '/content/source/suppae.csv' DELIMITER ',' CSV HEADER;


-- DROP TABLE IF EXISTS src.suppdm;
CREATE TABLE src.suppdm
(
	studyid		VARCHAR(12),
	rdomain		VARCHAR(2),
	usubjid		VARCHAR(11),
	idvar		VARCHAR(8),
	idvarval	VARCHAR(200),
	qnam		VARCHAR(8),
	qlabel		VARCHAR(40),
	qval		VARCHAR(200),
	qorig		VARCHAR(200),
	qeval		VARCHAR(200)
);

COPY
    src.suppdm
    (
        studyid,
    	rdomain,
    	usubjid,
    	idvar,
    	idvarval,
    	qnam,
    	qlabel,
    	qval,
    	qorig,
    	qeval
    )
FROM '/content/source/suppdm.csv' DELIMITER ',' CSV HEADER;


-- DROP TABLE IF EXISTS src.suppds;
CREATE TABLE src.suppds
(
	studyid		VARCHAR(12),
	rdomain		VARCHAR(2),
	usubjid		VARCHAR(11),
	idvar		VARCHAR(8),
	idvarval	VARCHAR(200),
	qnam		VARCHAR(8),
	qlabel		VARCHAR(40),
	qval		VARCHAR(200),
	qorig		VARCHAR(200),
	qeval		VARCHAR(200)
);

COPY
    src.suppds
    (
        studyid,
    	rdomain,
    	usubjid,
    	idvar,
    	idvarval,
    	qnam,
    	qlabel,
    	qval,
    	qorig,
    	qeval
    )
FROM '/content/source/suppds.csv' DELIMITER ',' CSV HEADER;


-- DROP TABLE IF EXISTS src.supplbch;
CREATE TABLE src.supplbch
(
	studyid		VARCHAR(12),
	rdomain		VARCHAR(2),
	usubjid		VARCHAR(11),
	idvar		VARCHAR(8),
	idvarval	VARCHAR(200),
	qnam		VARCHAR(8),
	qlabel		VARCHAR(40),
	qval		VARCHAR(200),
	qorig		VARCHAR(200),
	qeval		VARCHAR(200)
);

COPY
    src.supplbch
    (
        studyid,
    	rdomain,
    	usubjid,
    	idvar,
    	idvarval,
    	qnam,
    	qlabel,
    	qval,
    	qorig,
    	qeval
    )
FROM '/content/source/supplbch.csv' DELIMITER ',' CSV HEADER;


-- DROP TABLE IF EXISTS src.supplbhe;
CREATE TABLE src.supplbhe
(
	studyid		VARCHAR(12),
	rdomain		VARCHAR(2),
	usubjid		VARCHAR(11),
	idvar		VARCHAR(8),
	idvarval	VARCHAR(200),
	qnam		VARCHAR(8),
	qlabel		VARCHAR(40),
	qval		VARCHAR(200),
	qorig		VARCHAR(200),
	qeval		VARCHAR(200)
);

COPY
    src.supplbhe
    (
        studyid,
    	rdomain,
    	usubjid,
    	idvar,
    	idvarval,
    	qnam,
    	qlabel,
    	qval,
    	qorig,
    	qeval
    )
FROM '/content/source/supplbhe.csv' DELIMITER ',' CSV HEADER;


-- DROP TABLE IF EXISTS src.supplbur;
CREATE TABLE src.supplbur
(
	studyid		VARCHAR(12),
	rdomain		VARCHAR(2),
	usubjid		VARCHAR(11),
	idvar		VARCHAR(8),
	idvarval	VARCHAR(200),
	qnam		VARCHAR(8),
	qlabel		VARCHAR(40),
	qval		VARCHAR(200),
	qorig		VARCHAR(200),
	qeval		VARCHAR(200)
);

COPY
    src.supplbur
    (
        studyid,
    	rdomain,
    	usubjid,
    	idvar,
    	idvarval,
    	qnam,
    	qlabel,
    	qval,
    	qorig,
    	qeval
    )
FROM '/content/source/supplbur.csv' DELIMITER ',' CSV HEADER;


-- DROP TABLE IF EXISTS src.sv;
CREATE TABLE src.sv
(
	studyid		VARCHAR(12),
	domain		VARCHAR(2),
	usubjid		VARCHAR(11),
	visitnum	NUMERIC,
	visit		VARCHAR(19),
	visitdy		NUMERIC,  -- in define it's INTEGER
	epoch		VARCHAR(9),
	svstdtc		VARCHAR(10),  -- instead of DATE for possible incomplete dates
	svendtc		VARCHAR(10),  -- instead of DATE for possible incomplete dates
	svstdy		INTEGER,
	svendy		INTEGER,
	svupdes		VARCHAR(51)
);

COPY
    src.sv
    (
        studyid,
    	domain,
    	usubjid,
    	visitnum,
    	visit,
    	visitdy,
    	epoch,
    	svstdtc,
    	svendtc,
    	svstdy,
    	svendy,
    	svupdes
    )
FROM '/content/source/sv.csv' DELIMITER ',' CSV HEADER;


-- DROP TABLE IF EXISTS src.ta;
CREATE TABLE src.ta
(
    studyid     VARCHAR(12),
    domain      VARCHAR(2),
    armcd       VARCHAR(8),
    arm         VARCHAR(20),
    taetord     INTEGER,
    etcd        VARCHAR(200),
    element     VARCHAR(200),
    tabranch    VARCHAR(200),
    tatrans     VARCHAR(200),
    epoch       VARCHAR(200)
);

COPY
    src.ta
    (
        studyid,
        domain,
        armcd,
        arm,
        taetord,
        etcd,
        element,
        tabranch,
        tatrans,
        epoch
    )
FROM '/content/source/ta.csv' DELIMITER ',' CSV HEADER;

-- DROP TABLE IF EXISTS src.te;
CREATE TABLE src.te
(
    studyid     VARCHAR(12),
    domain      VARCHAR(2),
    etcd        VARCHAR(200),
    element     VARCHAR(200),
    testrl      VARCHAR(200),
    teenrl      VARCHAR(200),
    tedur       VARCHAR(200)
);

COPY
    src.te
    (
        studyid,
        domain,
        etcd,
        element,
        testrl,
        teenrl,
        tedur
    )
FROM '/content/source/te.csv' DELIMITER ',' CSV HEADER;


-- DROP TABLE IF EXISTS src.ti;
CREATE TABLE src.ti
(
	studyid		VARCHAR(12),
	domain		VARCHAR(2),
	ietestcd	VARCHAR(16),
	ietest		VARCHAR(166),
	iecat		VARCHAR(9)
);

COPY
    src.ti
    (
        studyid,
    	domain,
    	ietestcd,
    	ietest,
    	iecat
    )
FROM '/content/source/ti.csv' DELIMITER ',' CSV HEADER;


-- DROP TABLE IF EXISTS src.ts;
CREATE TABLE src.ts
(
	studyid		VARCHAR(12),
	domain		VARCHAR(2),
	tsseq		NUMERIC,  -- in define it's INTEGER
	tsparmcd	VARCHAR(200),
	tsparm		VARCHAR(200),
	tsval		VARCHAR(200),
	tsvalnf		VARCHAR(4),
	tsvalcd		VARCHAR(11),
	tsvcdref	VARCHAR(8),
	tsvcdver	VARCHAR(18)
);

COPY
    src.ts
    (
        studyid,
        domain,
        tsseq,
        tsparmcd,
        tsparm,
        tsval,
        tsvalnf,
        tsvalcd,
        tsvcdref,
        tsvcdver
    )
FROM '/content/source/ts.csv' DELIMITER ',' CSV HEADER;


-- DROP TABLE IF EXISTS src.tv;
CREATE TABLE src.tv
(
	studyid		VARCHAR(12),
	domain		VARCHAR(2),
	visitnum	NUMERIC,
	visit		VARCHAR(90),
	visitdy		INTEGER,
	armcd		VARCHAR(8),
	tvstrl		VARCHAR(200),
	tvenrl		VARCHAR(200)
);

COPY
    src.tv
    (
        studyid,
    	domain,
    	visitnum,
    	visit,
    	visitdy,
    	armcd,
    	tvstrl,
    	tvenrl
    )
FROM '/content/source/tv.csv' DELIMITER ',' CSV HEADER;


-- DROP TABLE IF EXISTS src.vs;
CREATE TABLE src.vs
(
	studyid		VARCHAR(12),
	domain		VARCHAR(2),
	usubjid		VARCHAR(11),
	vsseq		NUMERIC,  -- in define it's INTEGER
	vstestcd	VARCHAR(6),
	vstest		VARCHAR(24),
	vspos		VARCHAR(8),
	vsorres		VARCHAR(5),
	vsorresu	VARCHAR(9),
	vsstresc	VARCHAR(6),
	vsstresn	NUMERIC, -- in define it's INTEGER
	vsstresu	VARCHAR(9),
	vsstat		VARCHAR(8),
	vsloc		VARCHAR(11),
	vsblfl		VARCHAR(1),
	visitnum	NUMERIC,
	visit		VARCHAR(19),
	visitdy		INTEGER,
	epoch		VARCHAR(9),
	vsdtc		VARCHAR(10),  -- instead of DATE for possible incomplete dates
	vsdy		INTEGER,
	vstpt		VARCHAR(30),
	vstptnum	INTEGER,
	vseltm		VARCHAR(4),
	vstptref	VARCHAR(16)
);

COPY
    src.vs
    (
        studyid,
    	domain,
    	usubjid,
    	vsseq,
    	vstestcd,
    	vstest,
    	vspos,
    	vsorres,
    	vsorresu,
    	vsstresc,
    	vsstresn,
    	vsstresu,
    	vsstat,
    	vsloc,
    	vsblfl,
    	visitnum,
    	visit,
    	visitdy,
    	epoch,
    	vsdtc,
    	vsdy,
    	vstpt,
    	vstptnum,
    	vseltm,
    	vstptref
    )
FROM '/content/source/vs.csv' DELIMITER ',' CSV HEADER;

 * postgresql+psycopg2://@/postgres

Empty DataFrame
Columns: []
Index: []

## Adverse Events (AE)

In [ ]:
%%sql

SELECT *
FROM src.ae
LIMIT 5;

 * postgresql+psycopg2://@/postgres

        studyid domain      usubjid aeseq  ...     aeendtc aedy aestdy  aeendy
0  CDISCPILOT01     AE  01-701-1015     1  ...               15      2       0
1  CDISCPILOT01     AE  01-701-1015     2  ...               15      2       0
2  CDISCPILOT01     AE  01-701-1015     3  ...  2014-01-11   15      8      10
3  CDISCPILOT01     AE  01-701-1023     3  ...               23     22       0
4  CDISCPILOT01     AE  01-701-1023     2  ...               23      3       0

[5 rows x 37 columns]

## Supplemental Qualifiers for AE (SUPPAE)

In [ ]:
%%sql

SELECT *
FROM src.suppae
LIMIT 5;

 * postgresql+psycopg2://@/postgres

        studyid rdomain      usubjid  ... qval    qorig                   qeval
0  CDISCPILOT01      AE  01-701-1015  ...    Y  DERIVED  CLINICAL STUDY SPONSOR
1  CDISCPILOT01      AE  01-701-1015  ...    Y  DERIVED  CLINICAL STUDY SPONSOR
2  CDISCPILOT01      AE  01-701-1015  ...    Y  DERIVED  CLINICAL STUDY SPONSOR
3  CDISCPILOT01      AE  01-701-1023  ...    Y  DERIVED  CLINICAL STUDY SPONSOR
4  CDISCPILOT01      AE  01-701-1023  ...    Y  DERIVED  CLINICAL STUDY SPONSOR

[5 rows x 10 columns]

## Concomitant Medications (CM)

In [ ]:
%%sql

SELECT *
FROM src.cm
LIMIT 5;

 * postgresql+psycopg2://@/postgres

        studyid domain      usubjid cmseq  ... cmendtc cmdy cmstdy cmendy
0  CDISCPILOT01     CM  01-701-1015     1  ...           -7      0      0
1  CDISCPILOT01     CM  01-701-1015     2  ...           -7      0      0
2  CDISCPILOT01     CM  01-701-1015     3  ...           -7      0      0
3  CDISCPILOT01     CM  01-701-1015     4  ...           -7      0      0
4  CDISCPILOT01     CM  01-701-1015     5  ...           -2      0      0

[5 rows x 23 columns]

## Demographics (DM)

In [ ]:
%%sql

SELECT *
FROM src.dm
LIMIT 5;

 * postgresql+psycopg2://@/postgres

        studyid domain      usubjid  ... country       dmdtc dmdy
0  CDISCPILOT01     DM  01-701-1015  ...     USA  2013-12-26   -7
1  CDISCPILOT01     DM  01-701-1023  ...     USA  2012-07-22  -14
2  CDISCPILOT01     DM  01-701-1028  ...     USA  2013-07-11   -8
3  CDISCPILOT01     DM  01-701-1033  ...     USA  2014-03-10   -8
4  CDISCPILOT01     DM  01-701-1034  ...     USA  2014-06-24   -7

[5 rows x 25 columns]

## Supplemental Qualifiers for DM (SUPPDM)

In [ ]:
%%sql

SELECT *
FROM src.suppdm
LIMIT 5;

 * postgresql+psycopg2://@/postgres

        studyid rdomain      usubjid  ... qval    qorig                   qeval
0  CDISCPILOT01      DM  01-701-1015  ...    Y  DERIVED  CLINICAL STUDY SPONSOR
1  CDISCPILOT01      DM  01-701-1015  ...    Y  DERIVED  CLINICAL STUDY SPONSOR
2  CDISCPILOT01      DM  01-701-1015  ...    Y  DERIVED  CLINICAL STUDY SPONSOR
3  CDISCPILOT01      DM  01-701-1015  ...    Y  DERIVED  CLINICAL STUDY SPONSOR
4  CDISCPILOT01      DM  01-701-1015  ...    Y  DERIVED  CLINICAL STUDY SPONSOR

[5 rows x 10 columns]

## Disposition (DS)

In [ ]:
%%sql

SELECT *
FROM src.ds
LIMIT 5;

 * postgresql+psycopg2://@/postgres

        studyid domain      usubjid  ...     dsstdtc dsdy dsstdy
0  CDISCPILOT01     DS  01-701-1015  ...  2014-07-02  182    182
1  CDISCPILOT01     DS  01-701-1015  ...  2014-07-02  182    182
2  CDISCPILOT01     DS  01-701-1023  ...  2012-09-02   29     29
3  CDISCPILOT01     DS  01-701-1023  ...  2012-09-02   29     29
4  CDISCPILOT01     DS  01-701-1023  ...  2013-02-18  198    198

[5 rows x 15 columns]

## Supplemental Qualifiers for DS (SUPPDS)

In [ ]:
%%sql

SELECT *
FROM src.suppds
LIMIT 5;

 * postgresql+psycopg2://@/postgres

        studyid rdomain      usubjid  ... qval qorig qeval
0  CDISCPILOT01      DS  01-703-1175  ...   16   CRF
1  CDISCPILOT01      DS  01-705-1382  ...   25   CRF
2  CDISCPILOT01      DS  01-708-1372  ...   16   CRF

[3 rows x 10 columns]

## Exposure (EX)

In [ ]:
%%sql

SELECT *
FROM src.ex
LIMIT 5;

 * postgresql+psycopg2://@/postgres

        studyid domain      usubjid  ...     exendtc exstdy exendy
0  CDISCPILOT01     EX  01-701-1015  ...  2014-01-16      1     15
1  CDISCPILOT01     EX  01-701-1015  ...  2014-06-18     16    168
2  CDISCPILOT01     EX  01-701-1015  ...  2014-07-02    169    182
3  CDISCPILOT01     EX  01-701-1023  ...  2012-08-27      1     23
4  CDISCPILOT01     EX  01-701-1023  ...  2012-09-01     24     28

[5 rows x 18 columns]

## Laboratory Tests Results (LBCH)

In [ ]:
%%sql

SELECT *
FROM src.lbch
LIMIT 5;

 * postgresql+psycopg2://@/postgres

        studyid domain      usubjid  ...      epoch             lbdtc lbdy
0  CDISCPILOT01     LB  01-701-1015  ...  SCREENING  2013-12-26T14:45   -7
1  CDISCPILOT01     LB  01-701-1015  ...  TREATMENT  2014-01-16T13:17   15
2  CDISCPILOT01     LB  01-701-1015  ...  TREATMENT  2014-01-30T08:50   29
3  CDISCPILOT01     LB  01-701-1015  ...  TREATMENT  2014-02-12T12:56   42
4  CDISCPILOT01     LB  01-701-1015  ...  TREATMENT  2014-03-05T12:25   63

[5 rows x 24 columns]

## Supplemental Qualifiers for LB (SUPPLBCH)

In [ ]:
%%sql

SELECT *
FROM src.supplbch
LIMIT 5;

 * postgresql+psycopg2://@/postgres

        studyid rdomain      usubjid  ... qval    qorig                   qeval
0  CDISCPILOT01      LB  01-701-1015  ...  0.8  DERIVED  CLINICAL STUDY SPONSOR
1  CDISCPILOT01      LB  01-701-1015  ...  0.3  DERIVED  CLINICAL STUDY SPONSOR
2  CDISCPILOT01      LB  01-701-1015  ...  0.8  DERIVED  CLINICAL STUDY SPONSOR
3  CDISCPILOT01      LB  01-701-1015  ...  1.2  DERIVED  CLINICAL STUDY SPONSOR
4  CDISCPILOT01      LB  01-701-1015  ...  0.5  DERIVED  CLINICAL STUDY SPONSOR

[5 rows x 10 columns]

## Laboratory Tests Results (LBHE)

In [ ]:
%%sql

SELECT *
FROM src.lbhe
LIMIT 5;

 * postgresql+psycopg2://@/postgres

        studyid domain      usubjid  ...      epoch             lbdtc lbdy
0  CDISCPILOT01     LB  01-701-1015  ...  SCREENING  2013-12-26T14:45   -7
1  CDISCPILOT01     LB  01-701-1015  ...  SCREENING  2013-12-26T14:45   -7
2  CDISCPILOT01     LB  01-701-1015  ...  TREATMENT  2014-01-16T13:17   15
3  CDISCPILOT01     LB  01-701-1015  ...  TREATMENT  2014-01-30T08:50   29
4  CDISCPILOT01     LB  01-701-1015  ...  TREATMENT  2014-02-12T12:56   42

[5 rows x 24 columns]

## Supplemental Qualifiers for LB (SUPPLBHE)

In [ ]:
%%sql

SELECT *
FROM src.supplbhe
LIMIT 5;

 * postgresql+psycopg2://@/postgres

        studyid rdomain      usubjid  ... qval    qorig                   qeval
0  CDISCPILOT01      LB  01-701-1015  ...  0.3  DERIVED  CLINICAL STUDY SPONSOR
1  CDISCPILOT01      LB  01-701-1015  ...  0.2  DERIVED  CLINICAL STUDY SPONSOR
2  CDISCPILOT01      LB  01-701-1015  ...  0.9  DERIVED  CLINICAL STUDY SPONSOR
3  CDISCPILOT01      LB  01-701-1015  ...  0.9  DERIVED  CLINICAL STUDY SPONSOR
4  CDISCPILOT01      LB  01-701-1015  ...  0.7  DERIVED  CLINICAL STUDY SPONSOR

[5 rows x 10 columns]

## Laboratory Tests Results (LBUR)

In [ ]:
%%sql

SELECT *
FROM src.lbur
LIMIT 5;

 * postgresql+psycopg2://@/postgres

        studyid domain      usubjid  ...      epoch             lbdtc lbdy
0  CDISCPILOT01     LB  01-701-1015  ...  SCREENING  2013-12-26T14:45   -7
1  CDISCPILOT01     LB  01-701-1015  ...  TREATMENT  2014-01-16T13:17   15
2  CDISCPILOT01     LB  01-701-1015  ...  TREATMENT  2014-03-26T15:15   84
3  CDISCPILOT01     LB  01-701-1015  ...  TREATMENT  2014-06-18T13:00  168
4  CDISCPILOT01     LB  01-701-1015  ...  SCREENING  2013-12-26T14:45   -7

[5 rows x 24 columns]

## Supplemental Qualifiers for LB (SUPPLBUR)

In [ ]:
%%sql

SELECT *
FROM src.supplbur
LIMIT 5;

 * postgresql+psycopg2://@/postgres

        studyid rdomain      usubjid  ... qval    qorig                   qeval
0  CDISCPILOT01      LB  01-701-1015  ...  0.6  DERIVED  CLINICAL STUDY SPONSOR
1  CDISCPILOT01      LB  01-701-1015  ...  1.0  DERIVED  CLINICAL STUDY SPONSOR
2  CDISCPILOT01      LB  01-701-1015  ...  0.3  DERIVED  CLINICAL STUDY SPONSOR
3  CDISCPILOT01      LB  01-701-1015  ...  0.4  DERIVED  CLINICAL STUDY SPONSOR
4  CDISCPILOT01      LB  01-701-1015  ...  0.6  DERIVED  CLINICAL STUDY SPONSOR

[5 rows x 10 columns]

## Medical History (MH)

In [ ]:
%%sql

SELECT *
FROM src.mh
LIMIT 5;

 * postgresql+psycopg2://@/postgres

        studyid domain      usubjid  ...       mhdtc     mhstdtc mhdy
0  CDISCPILOT01     MH  01-701-1015  ...  2013-12-26  2010-04-30   -7
1  CDISCPILOT01     MH  01-701-1015  ...  2013-12-26        2012   -7
2  CDISCPILOT01     MH  01-701-1015  ...  2013-12-26               -7
3  CDISCPILOT01     MH  01-701-1015  ...  2013-12-26               -7
4  CDISCPILOT01     MH  01-701-1015  ...  2013-12-26               -7

[5 rows x 19 columns]

## Questionnaires (QSCO)

In [ ]:
%%sql

SELECT *
FROM src.qsco
LIMIT 5;

 * postgresql+psycopg2://@/postgres

        studyid domain      usubjid qsseq  ... visitdy      epoch       qsdtc qsdy
0  CDISCPILOT01     QS  01-701-1015  5001  ...       1  TREATMENT  2014-01-02    1
1  CDISCPILOT01     QS  01-701-1015  5016  ...      56  TREATMENT  2014-03-05   63
2  CDISCPILOT01     QS  01-701-1015  5031  ...     112  TREATMENT  2014-05-07  126
3  CDISCPILOT01     QS  01-701-1015  5046  ...     168  TREATMENT  2014-06-18  168
4  CDISCPILOT01     QS  01-701-1015  5002  ...       1  TREATMENT  2014-01-02    1

[5 rows x 23 columns]

## Questionnaires (QSDA)

In [ ]:
%%sql

SELECT *
FROM src.qsda
LIMIT 5;

 * postgresql+psycopg2://@/postgres

        studyid domain      usubjid qsseq  ... visitdy      epoch       qsdtc qsdy
0  CDISCPILOT01     QS  01-701-1015  4001  ...       1  TREATMENT  2014-01-02    1
1  CDISCPILOT01     QS  01-701-1015  4041  ...      56  TREATMENT  2014-03-05   63
2  CDISCPILOT01     QS  01-701-1015  4081  ...     112  TREATMENT  2014-05-07  126
3  CDISCPILOT01     QS  01-701-1015  4121  ...     168  TREATMENT  2014-06-18  168
4  CDISCPILOT01     QS  01-701-1015  4002  ...       1  TREATMENT  2014-01-02    1

[5 rows x 23 columns]

## Questionnaires (QSGI)

In [ ]:
%%sql

SELECT *
FROM src.qsgi
LIMIT 5;

 * postgresql+psycopg2://@/postgres

        studyid domain      usubjid qsseq  ... visitdy      epoch       qsdtc qsdy
0  CDISCPILOT01     QS  01-701-1015  6001  ...      56  TREATMENT  2014-03-05   63
1  CDISCPILOT01     QS  01-701-1015  6002  ...     112  TREATMENT  2014-05-07  126
2  CDISCPILOT01     QS  01-701-1015  6003  ...     168  TREATMENT  2014-06-18  168
3  CDISCPILOT01     QS  01-701-1023  6001  ...      28  TREATMENT  2012-09-02   29
4  CDISCPILOT01     QS  01-701-1023  6002  ...     168  TREATMENT  2013-02-18  198

[5 rows x 23 columns]

## Questionnaires (QSHI)

In [ ]:
%%sql

SELECT *
FROM src.qshi
LIMIT 5;

 * postgresql+psycopg2://@/postgres

        studyid domain      usubjid qsseq  ... visitdy      epoch       qsdtc qsdy
0  CDISCPILOT01     QS  01-701-1015  1001  ...      -7  TREATMENT  2013-12-26   -7
1  CDISCPILOT01     QS  01-701-1015  1002  ...      -7  TREATMENT  2013-12-26   -7
2  CDISCPILOT01     QS  01-701-1015  1003  ...      -7  TREATMENT  2013-12-26   -7
3  CDISCPILOT01     QS  01-701-1015  1004  ...      -7  TREATMENT  2013-12-26   -7
4  CDISCPILOT01     QS  01-701-1015  1005  ...      -7  TREATMENT  2013-12-26   -7

[5 rows x 23 columns]

## Questionnaires (QSMM)

In [ ]:
%%sql

SELECT *
FROM src.qsmm
LIMIT 5;

 * postgresql+psycopg2://@/postgres

        studyid domain      usubjid qsseq  ... visitdy      epoch       qsdtc qsdy
0  CDISCPILOT01     QS  01-701-1015  2001  ...      -7  TREATMENT  2013-12-26   -7
1  CDISCPILOT01     QS  01-701-1015  2002  ...      -7  TREATMENT  2013-12-26   -7
2  CDISCPILOT01     QS  01-701-1015  2003  ...      -7  TREATMENT  2013-12-26   -7
3  CDISCPILOT01     QS  01-701-1015  2004  ...      -7  TREATMENT  2013-12-26   -7
4  CDISCPILOT01     QS  01-701-1015  2005  ...      -7  TREATMENT  2013-12-26   -7

[5 rows x 23 columns]

## Questionnaires (QSNI)

In [ ]:
%%sql

SELECT *
FROM src.qsni
LIMIT 5;

 * postgresql+psycopg2://@/postgres

        studyid domain      usubjid qsseq  ... visitdy      epoch       qsdtc qsdy
0  CDISCPILOT01     QS  01-701-1015  3001  ...       1  TREATMENT  2014-01-02    1
1  CDISCPILOT01     QS  01-701-1015  3002  ...       1  TREATMENT  2014-01-02    1
2  CDISCPILOT01     QS  01-701-1015  3026  ...      14  TREATMENT  2014-01-16   15
3  CDISCPILOT01     QS  01-701-1015  3027  ...      14  TREATMENT  2014-01-16   15
4  CDISCPILOT01     QS  01-701-1015  3051  ...      28  TREATMENT  2014-01-30   29

[5 rows x 23 columns]

## Related Records (RELREC)

In [ ]:
%%sql

SELECT *
FROM src.relrec
LIMIT 5;

 * postgresql+psycopg2://@/postgres

        studyid rdomain      usubjid  idvar idvarval reltype            relid
0  CDISCPILOT01      AE  01-701-1023  AESEQ        2          01-701-1023-E09
1  CDISCPILOT01      AE  01-701-1047  AESEQ        4          01-701-1047-E09
2  CDISCPILOT01      AE  01-701-1111  AESEQ        7          01-701-1111-E16
3  CDISCPILOT01      AE  01-701-1115  AESEQ        7          01-701-1115-E13
4  CDISCPILOT01      AE  01-701-1146  AESEQ        6          01-701-1146-E13

## Subject Characteristics (SC)

In [ ]:
%%sql

SELECT *
FROM src.sc
LIMIT 5;

 * postgresql+psycopg2://@/postgres

        studyid domain      usubjid scseq  ... scstresn scstresu       scdtc scdy
0  CDISCPILOT01     SC  01-701-1015     1  ...       16    YEARS  2013-12-26   -7
1  CDISCPILOT01     SC  01-701-1023     1  ...       14    YEARS  2012-07-22  -14
2  CDISCPILOT01     SC  01-701-1028     1  ...       16    YEARS  2013-07-11   -8
3  CDISCPILOT01     SC  01-701-1033     1  ...       12    YEARS  2014-03-10   -8
4  CDISCPILOT01     SC  01-701-1034     1  ...        9    YEARS  2014-06-24   -7

[5 rows x 14 columns]

## Subject Elements (SE)

In [ ]:
%%sql

SELECT *
FROM src.se
LIMIT 5;

 * postgresql+psycopg2://@/postgres

        studyid domain      usubjid  ...     seendtc sestdy seendy
0  CDISCPILOT01     SE  01-701-1015  ...  2014-01-02     -7      1
1  CDISCPILOT01     SE  01-701-1015  ...  2014-07-02      1    182
2  CDISCPILOT01     SE  01-701-1023  ...  2012-08-05    -14      1
3  CDISCPILOT01     SE  01-701-1023  ...  2013-02-18      1    198
4  CDISCPILOT01     SE  01-701-1023  ...  2013-02-18    198    198

[5 rows x 12 columns]

## Subject Visits (SV)

In [ ]:
%%sql

SELECT *
FROM src.sv
LIMIT 5;

 * postgresql+psycopg2://@/postgres

        studyid domain      usubjid  ... svstdy svendy svupdes
0  CDISCPILOT01     SV  01-701-1015  ...     -7     -7
1  CDISCPILOT01     SV  01-701-1015  ...     -2     -2
2  CDISCPILOT01     SV  01-701-1015  ...      1      1
3  CDISCPILOT01     SV  01-701-1015  ...     13     13
4  CDISCPILOT01     SV  01-701-1015  ...     15     15

[5 rows x 12 columns]

## Trial Arms (TA)

In [ ]:
%%sql

SELECT *
FROM src.ta
LIMIT 5;

 * postgresql+psycopg2://@/postgres

        studyid domain   armcd  ...                 tabranch  tatrans      epoch
0  CDISCPILOT01     TA     Pbo  ...    Randomized to Placebo           SCREENING
1  CDISCPILOT01     TA     Pbo  ...                                    TREATMENT
2  CDISCPILOT01     TA     Pbo  ...                                    FOLLOW-UP
3  CDISCPILOT01     TA  Xan_Hi  ...  Randomized to High Dose           SCREENING
4  CDISCPILOT01     TA  Xan_Hi  ...                                    TREATMENT

[5 rows x 10 columns]

## Trial Elements (TE)

In [ ]:
%%sql

SELECT *
FROM src.te
LIMIT 5;

 * postgresql+psycopg2://@/postgres

        studyid domain  ...                                             teenrl tedur
0  CDISCPILOT01     TE  ...  Completion of all specified followup activitie...
1  CDISCPILOT01     TE  ...                                                      P2W
2  CDISCPILOT01     TE  ...                                                     P22W
3  CDISCPILOT01     TE  ...                                                      P2W
4  CDISCPILOT01     TE  ...                                                     P26W

[5 rows x 7 columns]

## Trial Inclusion/ Exclusion Criteria (TI)

In [ ]:
%%sql

SELECT *
FROM src.ti
LIMIT 5;

 * postgresql+psycopg2://@/postgres

        studyid  ...      iecat
0  CDISCPILOT01  ...  INCLUSION
1  CDISCPILOT01  ...  INCLUSION
2  CDISCPILOT01  ...  INCLUSION
3  CDISCPILOT01  ...  INCLUSION
4  CDISCPILOT01  ...  INCLUSION

[5 rows x 5 columns]

## Trial Summary (TS)

In [ ]:
%%sql

SELECT *
FROM src.ts
LIMIT 5;

 * postgresql+psycopg2://@/postgres

        studyid domain tsseq tsparmcd  ... tsvalnf tsvalcd tsvcdref tsvcdver
0  CDISCPILOT01     TS     1    ADDON  ...
1  CDISCPILOT01     TS     1   AGEMAX  ...    PINF
2  CDISCPILOT01     TS     1   AGEMIN  ...
3  CDISCPILOT01     TS     1  AGESPAN  ...
4  CDISCPILOT01     TS     2  AGESPAN  ...

[5 rows x 10 columns]

## Trial Visits (TV)

In [ ]:
%%sql

SELECT *
FROM src.tv
LIMIT 5;

 * postgresql+psycopg2://@/postgres

        studyid  ...                                             tvenrl
0  CDISCPILOT01  ...                 completion of screening activities
1  CDISCPILOT01  ...  subject leaves clinic after connection of ambu...
2  CDISCPILOT01  ...                    After application of first dose
3  CDISCPILOT01  ...
4  CDISCPILOT01  ...

[5 rows x 8 columns]

## Vital Signs (VS)

In [ ]:
%%sql

SELECT *
FROM src.vs
LIMIT 5;

 * postgresql+psycopg2://@/postgres

        studyid domain      usubjid  ... vstptnum vseltm          vstptref
0  CDISCPILOT01     VS  01-701-1015  ...      815   PT5M    PATIENT SUPINE
1  CDISCPILOT01     VS  01-701-1015  ...      816   PT1M  PATIENT STANDING
2  CDISCPILOT01     VS  01-701-1015  ...      817   PT3M  PATIENT STANDING
3  CDISCPILOT01     VS  01-701-1015  ...      815   PT5M    PATIENT SUPINE
4  CDISCPILOT01     VS  01-701-1015  ...      816   PT1M  PATIENT STANDING

[5 rows x 25 columns]